#container {
    width: 800px;
    background-color: cornflowerblue;
    height: 600px;
    margin: auto;
    p{
        color: whitesmoke;
    }
}
.floatLeft {
    float: left;
    width: 250px;
    background-color: lightskyblue;
    }
    footer {
        background-color: lightsteelblue;
    clear: both;
    }
    #main {
        margin-left: 20px;
        background-color: lightblue;
        padding-left: 20px;
    }
    #main-2 {
        margin-left: 220px;
        background-color: lightblue;
        padding-left: 20px;
    }
    #main-3 {
        margin-left: 220px;
        background-color: lightblue;
        padding-left: 20px;
    }
    