h3 {
    text-decoration: underline;
    text-decoration-color: navy;
    text-decoration-style: wavy;
    
}
#container {
    width: 800px;
    background-color: cornflowerblue;
    height: 1550px;
    margin: auto;
}

#container p{
    color: whitesmoke;
    font-family: "Leckerli One", cursive;
    border-style: double;
    border-color: blue;
}
.floatLeft {
    float: left;
    width: 250px;
    background-color: lightskyblue;
    }
    footer {
        background-color: lightsteelblue;
    clear: both;
    border: 0px solid rgb(109, 155, 207);
    }
    #main {
        margin-left: 20px;
        background-color: lightblue;
        padding-left: 20px;
    }
    #main-2 {
        margin-left: 100px;
        background-color: lightblue;
        padding-left: 15px;
    }
    #main-3 {
        margin-left: 220px;
        background-color: lightblue;
        padding-left: 20px;
    }
   footer > p {
    text-align: center;
        color: navy;
    }
header > h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
h4 {
    visibility: hidden;
}
h5 {
    display: none;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: none;
}
a:visited {
    color: cyan;
}
a {
  font-family: "Akronim", cursive;
  font-weight: 400; 
    font-style: normal;
    float: left;
    width: 100%;
}   
h1 {
  font-family: "Bonbon", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}
table, th, td {
  border: 1px solid red;
}
table {
    margin-right: 220px;
    float: right;
       text-align: center;
}
ul.a {
  list-style-image: url('sqpurple.gif');
  list-style-type: square;  
}
ul.a{
  background: powderblue;
  padding: 20px;
  margin-left: 250px;

}

ul.a li {
  background: white;
  color: darkblue;
  margin: 5px;
}
ul.b {
    
    list-style-type: circle;
     list-style-position: inside;
}
#submit {
    background-color: lightsteelblue;
    color: navy;
    border: 1px solid navy;
    padding: 5px 10px;
    cursor: pointer;
}
#checkbox form  {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#checkbox label {display: block;}

 [type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
