h3 {
    text-decoration: underline;
    text-decoration-color: navy;
    text-decoration-style: wavy;
    
}
#container {
    width: 800px;
    background-color: cornflowerblue;
    height: 1000px;
    margin: auto;
    p{
        color: whitesmoke;
        font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
   border-style: double;
   border-color: blue;
    }
}
.floatLeft {
    float: left;
    width: 250px;
    background-color: lightskyblue;
    }
    footer {
        background-color: lightsteelblue;
    clear: both;
    border: 0px solid rgb(109, 155, 207);
    }
    #main {
        margin-left: 20px;
        background-color: lightblue;
        padding-left: 20px;
    }
    #main-2 {
        margin-left: 220px;
        background-color: lightblue;
        padding-left: 20px;
    }
    #main-3 {
        margin-left: 220px;
        background-color: lightblue;
        padding-left: 20px;
    }
   footer > p {
    text-align: center;
        color: navy;
    }
header > h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
h4 {
    visibility: hidden;
}
h5 {
    display: none;
}